/* line 50, ../sass/_mixins.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 55, ../sass/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 59, ../sass/_mixins.scss */
.clearfix {
  *zoom: 1;
}

/* line 1, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 3, ../sass/base/_base.scss */
body {
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: black;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 300;
  font-size: 16px;
}

/* line 16, ../sass/base/_base.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 26, ../sass/base/_base.scss */
h2 {
  font-weight: 300;
  font-size: 2em;
}

/* line 31, ../sass/base/_base.scss */
p {
  margin: 20px 0;
  line-height: 1.75em;
}

/* line 36, ../sass/base/_base.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 41, ../sass/base/_base.scss */
li {
  list-style-type: none;
}

/*
Helper classes

Use these classes at will.

Styleguide 1.0
*/
/*
Floats

#### .pull-left

Float an element left

```hmtl
<div class="pull-left">I float left</div>
```

#### .pull-right

Float an element right

```html
<div class="pull-right">I float right</div>
```

Styleguide 1.1
*/
/* line 33, ../sass/base/_helpers.scss */
.pull-left {
  float: left;
}

/* line 38, ../sass/base/_helpers.scss */
.pull-right {
  float: right;
}

/* line 43, ../sass/base/_helpers.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 47, ../sass/base/_helpers.scss */
.clearer {
  clear: both;
}

/*
Text alignment

#### .right-aligned
Align **text** to right

```html
<p class="right-aligned">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, tempora.</p>
```


#### .left-aligned

Align **text** to left. Use only if you need to reset/override text alignment.

```html
<p class="left-aligned">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, tempora.</p>
```

#### .center-aligned

Align **text** to center.

```html
<p class="center-aligned">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, tempora.</p>
```

Styleguide 1.3
 */
/* line 80, ../sass/base/_helpers.scss */
.right-aligned {
  text-align: right;
}

/* line 85, ../sass/base/_helpers.scss */
.left-aligned {
  text-align: left;
}

/* line 90, ../sass/base/_helpers.scss */
.center-aligned {
  text-align: center;
}

@media screen and (max-width: 767px) {
  /* line 300, ../sass/base/_helpers.scss */
  .hidden-phone,
  .visible-tablet,
  .visible-desktop {
    display: none !important;
  }

  /* line 305, ../sass/base/_helpers.scss */
  .visible-phone,
  .hidden-tablet,
  .hidden-desktop {
    display: inherit !important;
  }
}
@media screen and (min-width: 768px) {
  /* line 313, ../sass/base/_helpers.scss */
  .hidden-tablet,
  .visible-phone,
  .visible-desktop {
    display: none !important;
  }

  /* line 318, ../sass/base/_helpers.scss */
  .visible-tablet,
  .hidden-phone,
  .hidden-desktop {
    display: inherit !important;
  }
}
@media screen and (min-width: 984px) {
  /* line 326, ../sass/base/_helpers.scss */
  .visible-phone,
  .visible-tablet,
  .hidden-desktop {
    display: none !important;
  }

  /* line 331, ../sass/base/_helpers.scss */
  .visible-desktop,
  .hidden-phone,
  .hidden-tablet {
    display: inherit !important;
  }
}
/* line 1, ../sass/layout/_layout.scss */
.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 984px;
  padding: 20px;
}
/* line 7, ../sass/layout/_layout.scss */
.nav .container {
  padding: 0;
}

/* line 24, ../sass/layout/_layout.scss */
.header .container {
  text-align: center;
  margin-top: -20px;
  margin-bottom: -50px;
}

/* line 33, ../sass/layout/_layout.scss */
.section.nav {
  padding-bottom: 0;
}
/* line 37, ../sass/layout/_layout.scss */
.section.red {
  background-color: #a7161b;
}
/* line 41, ../sass/layout/_layout.scss */
.section.grey {
  background-color: #5c5c56;
}
/* line 45, ../sass/layout/_layout.scss */
.section.white {
  background-color: white;
  color: black;
}
/* line 50, ../sass/layout/_layout.scss */
.section.black {
  background-color: black;
}

/* line 8, ../sass/modules/_nav.scss */
.nav__list__item {
  float: left;
}
@media screen and (max-width: 767px) {
  /* line 8, ../sass/modules/_nav.scss */
  .nav__list__item {
    float: none;
  }
}

/* line 17, ../sass/modules/_nav.scss */
.nav__header .nav__anchor {
  position: relative;
  padding-left: 50px;
  text-align: left;
}
/* line 22, ../sass/modules/_nav.scss */
.nav__header .nav__anchor:hover {
  background-color: #a7161b;
}
/* line 26, ../sass/modules/_nav.scss */
.nav__header .nav__anchor:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 18px;
  width: 1em;
  height: 0.11em;
  background: white;
  box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white;
}

/* line 42, ../sass/modules/_nav.scss */
.nav__anchor {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1.75em;
  text-decoration: none;
  padding: 0 36px;
}
@media screen and (max-width: 767px) {
  /* line 42, ../sass/modules/_nav.scss */
  .nav__anchor {
    font-size: 1.75em;
  }
}
/* line 58, ../sass/modules/_nav.scss */
.nav__anchor:hover {
  background-color: black;
}

/* line 63, ../sass/modules/_nav.scss */
.nav__anchor--facebook {
  background-color: #3b5998;
}

/* line 67, ../sass/modules/_nav.scss */
.logo {
  float: right;
  width: 84px;
}
/* line 72, ../sass/modules/_nav.scss */
.logo .nav__anchor {
  font-size: 0;
  padding: 0;
}

/* line 78, ../sass/modules/_nav.scss */
.nav__list-secondary {
  float: right;
}

/* line 1, ../sass/modules/_maps-iframe.scss */
.maps-iframe {
  width: 100%;
  margin-bottom: -25px;
}

/* line 4, ../sass/modules/_modules.scss */
.pricings {
  clear: both;
  margin-left: 40px;
  margin-bottom: 20px;
}

/* line 11, ../sass/modules/_modules.scss */
.price {
  float: left;
  font-size: 3em;
  font-weight: 700;
  padding-right: 45px;
  border-right: 5px solid white;
}

/* line 21, ../sass/modules/_modules.scss */
.items {
  float: left;
  margin-left: 40px;
  margin-top: 20px;
}

/* line 27, ../sass/modules/_modules.scss */
.item {
  float: left;
  margin-right: 20px;
}

/* line 33, ../sass/modules/_modules.scss */
.real-list li {
  list-style-type: disc;
  margin-left: 40px;
}