/* line 50, ../sass/_mixins.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 55, ../sass/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 59, ../sass/_mixins.scss */
.clearfix {
  *zoom: 1;
}

/* line 1, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 3, ../sass/base/_base.scss */
body {
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: black;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 300;
  font-size: 16px;
}

/* line 16, ../sass/base/_base.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 26, ../sass/base/_base.scss */
h2 {
  font-weight: 300;
  font-size: 2em;
}

/* line 31, ../sass/base/_base.scss */
p {
  margin: 20px 0;
  line-height: 1.75em;
}

/* line 36, ../sass/base/_base.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 41, ../sass/base/_base.scss */
li {
  list-style-type: none;
}

/* line 1, ../sass/layout/_layout.scss */
.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 984px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  /* line 1, ../sass/layout/_layout.scss */
  .container {
    width: 768px;
  }
}
/* line 11, ../sass/layout/_layout.scss */
.nav .container {
  padding: 0;
}

/* line 28, ../sass/layout/_layout.scss */
.header .container {
  text-align: center;
  margin-top: -20px;
  margin-bottom: -50px;
}

/* line 37, ../sass/layout/_layout.scss */
.section.nav {
  padding-bottom: 0;
}
/* line 41, ../sass/layout/_layout.scss */
.section.red {
  background-color: #a7161b;
}
/* line 45, ../sass/layout/_layout.scss */
.section.grey {
  background-color: #5c5c56;
}
/* line 49, ../sass/layout/_layout.scss */
.section.white {
  background-color: white;
  color: black;
}
/* line 54, ../sass/layout/_layout.scss */
.section.black {
  background-color: black;
}

/* line 1, ../sass/modules/_nav.scss */
.nav__list__item {
  float: left;
}

/* line 6, ../sass/modules/_nav.scss */
.nav__anchor {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1.75em;
  text-decoration: none;
  padding: 0 36px;
}
/* line 17, ../sass/modules/_nav.scss */
.nav__anchor:hover {
  background-color: black;
}

/* line 22, ../sass/modules/_nav.scss */
.logo {
  float: right;
  width: 84px;
}
/* line 27, ../sass/modules/_nav.scss */
.logo .nav__anchor {
  font-size: 0;
  padding: 0;
}

/* line 1, ../sass/modules/_maps-iframe.scss */
.maps-iframe {
  width: 100%;
  margin-bottom: -25px;
}

/* line 4, ../sass/modules/_modules.scss */
.pricings {
  clear: both;
  margin-left: 40px;
  margin-bottom: 20px;
}

/* line 11, ../sass/modules/_modules.scss */
.price {
  float: left;
  font-size: 3em;
  font-weight: 700;
  padding-right: 45px;
  border-right: 5px solid white;
}

/* line 21, ../sass/modules/_modules.scss */
.items {
  float: left;
  margin-left: 40px;
  margin-top: 20px;
}

/* line 27, ../sass/modules/_modules.scss */
.item {
  float: left;
  margin-right: 20px;
}

/* line 33, ../sass/modules/_modules.scss */
.real-list li {
  list-style-type: disc;
  margin-left: 40px;
}