// @include mq-max($bp1) {
// 	nav {
// 		position: fixed;
// 		width: 100%;
// 	}
// }

.nav__list__item {
	float:left;

	@include mq-max($bp1) {
		float:none;
	}
}

.nav__anchor {
	font-size: 2em;
	font-weight: 300;
	text-align: center;
	display: block;
	line-height: 1.75em;

	text-decoration: none;

	padding: 0 36px;

	&:hover {
		background-color: $black;
	}
}

.nav__anchor--facebook {
	background-color: #3b5998;
}

.logo {
	float: right;
	width: 84px;
	

	.nav__anchor {
		font-size: 0;
		padding: 0;
	}
}

.nav__list-secondary {
	float: right;
}