// @include mq-max($bp1) {
// 	nav {
// 		position: fixed;
// 		width: 100%;
// 	}
// }

.nav {
	position: fixed;
	width: 100%;
	border-bottom: 1px solid $black;
}

.nav__list__item {
	float:left;

	border-right: 1px solid $red-border;

	&.last {
		border-right: none;
	}

	@include mq-max($bp2) {
		float:none;
		border-top: 1px solid $red-border;
		border-right: none;
	}
}

.nav__header {
	.nav__anchor {
		position: relative;
		padding-left: 50px;
		text-align: left;

		&.is-active {
			background-color: $red-border;
		}

		&:hover {
			background-color: $red-border;
		}

		&:before {
			content: "";
			position: absolute;
			left: 10px;
			top: 17px;
			width: 1em;
			height: 0.11em;
			background: $white;
			box-shadow:
				0 0.25em 0 0 $white,
				0 0.5em 0 0 $white;
		}
	}

}

.nav__anchor {
	font-size: 1.4em;

	border-bottom: none;

	font-weight: 300;
	text-align: center;
	display: block;
	line-height: 2em;

	text-decoration: none;

	padding: 0 35px;

	&:hover {
		background-color: $red-border;
		border-bottom: none;
	}
}

.nav__anchor--facebook {
	background-color: #3b5998;
}

.logo {
	float: right;
	width: 44px;


	.nav__anchor {
		font-size: 0;
		padding: 0;
	}
}

.nav__list-secondary {
	float: right;
}
