<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="description" content="Jeugdhuis De Faar is dé ontmoetingsplaats voor en door jongeren uit Denderhoutem en omstreken. Het Faarbestuur organiseert maandelijks coole themaparty’s of leuke activiteiten. Daarnaast is De Faar ook minsten één maal per maand open om er gezellig iets te drinken en er nieuwe leeftijdsgenoten te leren kennen. " />

	<meta name="viewport" content="width=device-width" />

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="css/main-old-ie.css" />
		<script src="js/dist/html5shiv.min.js"></script>
	<![endif]-->
	<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="css/main.css" />
	<!--<![endif]-->

	<meta property="og:image" content="http://jeroenvdb.be/faar/img/logo-transparant.png" />

</head>
<body>

	<nav class="section red nav">
		<div class="container">
			<div class="nav__header">
				<a href="#" class="nav__anchor nav__anchor--toggle js-toggle-menu hidden-desktop">Menu</a>
			</div>
			<ul class="nav__list nav__list-primary visible-desktop">
				<li class="nav__list__item first"><a href="#info" class="nav__anchor" data-scroll>info</a></li>
				<li class="nav__list__item"><a href="#werking" class="nav__anchor" data-scroll>werking</a></li>
				<li class="nav__list__item"><a href="#agenda" class="nav__anchor" data-scroll>agenda</a></li>
				<li class="nav__list__item"><a href="#verhuur" class="nav__anchor" data-scroll>verhuur</a></li>
				<li class="nav__list__item"><a href="#leden" class="nav__anchor" data-scroll>leden &amp; vrijwilligers</a></li>
				<li class="nav__list__item last"><a href="#links" class="nav__anchor" data-scroll>links</a></li>
				<li class="nav__list__item hidden-desktop"><a href="https://www.facebook.com/pages/Jeugdhuis-De-Faar/171980867738" class="nav__anchor nav__anchor--facebook">facebook</a></li>
			</ul>
			<ul class="nav__list nav__list-secondary visible-desktop">
				<li class="nav__list__item first logo"><a href="https://www.facebook.com/pages/Jeugdhuis-De-Faar/171980867738" class="nav__anchor"><img src="img/128-facebook.png" alt="Jeugdhuis De Faar Facebookpagina" height="39"></a></li>
			</ul>
		</div>
	</nav>

	<header class="section header">
		<div class="container">
			<img src="img/logo-transparant.png" alt="Logo Jeugdhuis De Faar" width="300">
		</div>
	</header>

	{{ content }}

	<section class="section footer">
		<div class="container">
			<footer>
				&copy; Jeugdhuis de Faar &dash; <a href="https://github.com/JeroenVdb/jhdefaar.be">Bouw mee aan deze website via Github.com</a>
			</footer>
		</div>
	</section>

	<script src="js/dist/main.min.js"></script>

	{% include universal-analytics.html %}

</body>
</html>
